<div class="col-lg-3 col-md-4 col-6" id="book-tile">
      <a href=`/book/{{book.id}}` class="d-block mb-4 h-100">
        <img class=`img-fluid img-thumbnail" src="../../public/images/covers/{{book.id}}.jpg" alt="{{book.title}} cover`>
      </a>
    </div>

    