<div class="m-auto w-50 align-content-center">
  <div class="row">
    <div class="col-md-6">
      <h2>Admin Login</h2>
  
      <form class="form login-form">
        <div class="form-group">
          <label for="user-login">Username:</label>
          <input class="form-input" type="text" id="user-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>

  </div>
  
  
</div>
