<div class="admin-dash w-75 m-auto border">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Book Title</th>
      <th scope="col">Available</th>
      <th scope="col">Borrower ID#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Paradise Lost</td>
      <td>No</td>
      <td>0087654</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Paradise Lost</td>
      <td>No</td>
      <td>0087654</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Paradise Lost</td>
      <td>No</td>
      <td>0087654</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Paradise Lost</td>
      <td>No</td>
      <td>0087654</td>
    </tr>
  </tbody>
</table>


<button type="button" class="btn btn-primary btn-lg btn-block">Add a book to the inventory</button>
</div>