  <div class="admin-dash w-100 m-auto ">
  <h1>Admin Dashboard</h1>
  <h4>A list of all books and their availability</h4>
<table class="table table-hover border mt-4">
  <thead>
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Book Title</th>
      <th scope="col">Author</th>
      <th scope="col">Available</th>
      <th scope="col">Due Back</th>
      <th scope="col">Borrower ID#</th>
      {{!-- <th scope="col">Edit </th>
      <th scope="col">Delete</th> --}}


    </tr>
  </thead>
  <tbody>
      {{#each books as |book|}}
        {{> adminbookdata book }}
    {{/each}}
  </tbody>
</table>


<a type="button" class="btn btn-primary btn-lg btn-block m-auto w-50" href="/addbook">Add a book to the inventory</a>
</div>

