<div class="container">
  
  <div>
    <h1 class="fw-light text-center text-lg-start mt-5 mb-0">The Library</h1>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
<div class="container">
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">

     {{#each books as |book|}}
        {{> book-tile book }}
    {{/each}}
   
  </div>

</div>
  </div>
</div>
</div>