<form class="w-75 m-auto new-book-form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Book Name</label>
      <input type="title" class="form-control" id="title" placeholder="book name">
    </div>
    <div class="form-group col-md-6">
      <label for="author">Author</label>
      <input type="author" class="form-control" id="author" placeholder="author">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="year">Year published</label>
      <input type="year" class="form-control" id="year" placeholder="year">
    </div>
    <div class="form-group col-md-6">
      <label for="isbn">ISBN#</label>
      <input type="isbn" class="form-control" id="isbn" placeholder="ISBN#">
    </div>
      <div class="form-group">
    <label for="exampleFormControlFile1">Upload Book Cover</label>
    <input type="file" class="form-control-file" id="cover-upload">
  </div>
  </div>
  
  <div class="form-group">
    <label for="synopsis">Synopsis</label>
    <textarea class="form-control" id="synopsis" placeholder="a brief description" rows="6"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="/js/new-book.js"></script>
