<div class=""><h1>Welcome back {{user.first_name}} {{user.last_name}} ({{user.username}})</h1></div>


<div class="d-flex flex-column mt-5 ">
  <div class="d-flex flex-row justify-content-between border-dark">
    <div class="card" style="width: 18rem; ">
{{#each books as |book|}}
      {{#if book.borrowed_user:user.id}}
      <h4 class="text-center mt-1">Currently with you</h4>
      <img class="card-img-top" src="/images/book cover.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{book.title}}  </li>
        <li class="list-group-item">Borrowed date: </li>
        <li class="list-group-item">Due Date:</li>
      </ul>
    </div>
      {{/if}}
{{/each}}      

    <a href = "/library"><img src="/images/timtom-web.jpg"  class="w-100" alt="...">Head to the library</a>


  </div>
<!-- previously borrowed books -->
<div class="container">
  <h1 class="fw-light text-center text-lg-start mt-5 mb-0">Previously borrowed books</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">

    
     {{#each user.books as |book|}}
        {{> book-tile book }}
    {{/each}}
   
  </div>

</div>
</div>