*{
font-family: "Fredoka one";
}

.jumbotron {
    padding: 1rem 0rem;
    font-family: "Fredoka one";
    background-color:#94C5CC;
    color: black;

}

.container-fluid {
   padding:5px;
   background-color:#A1B5B5;
}



.container{
   padding: 5px;  
}


.navbar-expand-lg {
   background-color:darkcyan;
}
.flex-column{
   background-color:darkcyan; 
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.carousel{
    width: 100%;
}

.landing-info{
    font-family: "Fredoka one";
    font-size: larger;
}

#available-badge{
    font-family:Arial, Helvetica, sans-serif
    
}
/* user dash image carousel */

/* star rating */

.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }

 .fa-trash{
    color:rgb(241, 103, 103)
 }
 .fa-pen-to-square{
    color: green;
 }


 .delete-review{
   position: absolute;
   right: 5%;
    }

